{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="wrapper">
      <h2>Dojo Survey - Submitted!!</h2>
      <h1>Thank You {{session['Survey_name']}}!!</h1>
      <div>
        <div id="tableDiv">
          <table>
            <tbody>
              <tr>
                <th scope="row">First Name:</th>
                <td>{{new_survey.first_name}}</td>
              </tr>
              <tr>
                <th scope="row">Last Name:</th>
                <td>{{new_survey.last_name}}</td>
              </tr>
              <tr>
                <th scope="row">Email:</th>
                <td>{{new_survey.email}}</td>
              </tr>
              <tr>
                <th scope="row">Location:</th>
                <td>{{new_survey.location}}</td>
              </tr>
              <tr>
                <th scope="row">Fav Language:</th>
                <td>{{new_survey.progLanguages}}</td>
              </tr>
              <tr>
                <th scope="row">Satisfied?</th>
                <td>{{new_survey.satisfaction}}</td>
              </tr>
              <tr>
                <th scope="row">Returning?</th>
                <td>{{new_survey.willReturn}}</td>
              </tr>
              <tr>
                <th scope="row">Design?</th>
                <td>{{new_survey.design}}</td>
              </tr>
              <tr>
                <th scope="row">Content</th>
                <td>{{new_survey.content}}</td>
              </tr>
              <tr>
                <th scope="row">Services?</th>
                <td>{{new_survey.services}}</td>
              </tr>
              <tr>
                <th scope="row">Products?</th>
                <td>{{new_survey.products}}</td>
              </tr>
              <tr>
                <th scope="row">Thoughts:</th>
                <td><p>{{ new_survey.message }}</p></td>
              </tr>
            </tbody>
          </table>
        </div>

        <form action="/">
          <button class="btn btn-dark form-control" type='submit' value='back'>Go Back</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}